
/* Your CSS Code here. */
 table, td, th {
      border: 2px solid black;
    }
 .inner td, .inner th {
      border: 2px solid black;
      text-align: center;
      padding: 8px;
    }
 .black-box {
      background-color: black;
      color: white;
      font-weight: bold;
    }